@import "tailwindcss";
.btn-third {
  @apply flex justify-center items-center shadow-lg bg-gradient-to-r from-red-200 via-red-400 to-red-500  text-white hover:shadow-lg hover:shadow-red-500/50 hover:from-red-400 hover:via-red-600 hover:to-red-500 transition duration-150 ease-in-out md:ease-in border-white;
}
.btn-poke {
  @apply flex justify-center items-center shadow-lg bg-gradient-to-r bg-[#F22539] rounded-full text-white hover:shadow-lg hover:shadow-red-500/50 hover:from-red-400 hover:via-red-500 hover:to-red-600 transition duration-150 ease-in-out md:ease-in border-white;
}
.btn-poke-disabled {
  @apply flex justify-center items-center shadow-lg bg-gradient-to-r bg-[#BFBFBF] rounded-full text-white hover:shadow-lg hover:shadow-red-500/50 hover:from-red-400 hover:via-red-500 hover:to-red-600 transition duration-150 ease-in-out md:ease-in border-white;
}
.primary-color {
  @apply text-[#353535];
}
.secondary-color {
  @apply text-[#5E5E5E];
}
.third-color {
  @apply text-[#BFBFBF];
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #F5F5F5;
}
.primary-color {
  color:#353535;
}
.secondary-color {
  color:#5E5E5E;
}
.third-color {
  color:#BFBFBF;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
